* {
    color: #FFF;
}

.master2 {
    color: #FFF
}


.master3 {
    color:#EEE
}

.master4 {
    color: #DDD
}

.master5 {
    color: red
}

.master6 {
    color: blueviolet
}
